body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}
.divider {
  width: 92%;
  margin: 0 auto;
  height: 0.1px;
  border: solid 1px rgba(162, 89, 255, 0.2);
}
.container {
  min-width: 300px;

  margin: auto;
  padding: 0px 10px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 13px 13px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;

}

.search-box-container{
    display: none;
}
.header-button-container{
    margin-right: 10px;
}

.header-content {
  cursor: pointer;
}

.header-content{
    display: none !important;
}

.back-button {
  background-color: #fff;
  padding: 13px 13px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 7.5px;
  border: 1px solid rgba(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
}

.page-header {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.tab-container {
  width: 92%;
  margin: 15px auto;

}

.line {
  width: 150%;
  display: inline-block;
  align-items: center;
  height: 2px;
  background: hsla(0, 0%, 71%, 1);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 71%, 1) 0%,
    hsla(0, 0%, 71%, 1) 39%,
    hsla(266, 100%, 67%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 71%, 1) 0%,
    hsla(0, 0%, 71%, 1) 39%,
    hsla(266, 100%, 67%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 71%, 1) 0%,
    hsla(0, 0%, 71%, 1) 39%,
    hsla(266, 100%, 67%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B4B4B4", endColorstr="#B4B4B4", GradientType=1 );
}

.hide{
    display: none;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: white;
}
.tab {
  width: 100%;
  font-size: 0.875rem;
  padding: 5px 0;
  cursor: pointer;
}

.tab-item-end {
  text-align: end;
}
.header-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.content-container-sm > div .tab{
    padding: 5px 12px;

}

.tab.active {
  color: #a259ff;
  font-weight: bold;
}
.carousel-container {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.875rem;
  font-weight: 400;
}
.carousel-indicator {
  display: flex;
  background-color: #fff;
  border: none;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #B4B4B4;
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background-color: #A259FF;
  border-radius: 50%;
}

.content {
  background-color: #F5F5F5;
  border-radius: 6px 6px 0 0;
}

.left-navbar-container{
    display: none;
}
.content-container-lg{
    display: none;
}

.content-img {
  width: 100%;
  height: 670px;
  object-fit: contain;
  border-radius: 5px;
}


.visit-page{
    display: flex;
    gap: 10px;
}

.banner {
  background-color: #f9a488;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.promo {
  text-align: center;
  background-color: #d4d2c9;
  padding: 20px;
  border-radius: 5px;
}

.promo h2 {
  margin: 10px 0;
  color: #6e6e56;
}

.promo h3 {
  margin: 10px 0;
  color: #b4b093;
}

.promo p {
  margin: 15px 0;
  color: #73736e;
}

.shop-all,
.shop-cookware {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #e5e2c6;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shop-cookware {
  background-color: #42403a;
  color: #fff;
}

.reward {
  text-align: center;
  background-color: #f3e7d3;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.reward h2 {
  color: #404034;
  margin: 10px 0;
}

.bottom-content{
    display: flex;
    flex-direction: column;
    
}

.button-container{
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
   
}
.bottom-items-container{
    align-self: end;
    width: max-content;
    display: flex;
    gap: 10px;
    margin: 10px 10px;
}
.platform-slot-container{
    width: max-content;
    margin-bottom: 20px;
}
.bottom-containers p{
    font-size: 16px;
    color: #7F7F7F;
    font: bold;
    font-weight: 500;
}



/* Tablet screens */
@media (min-width: 600px) and (max-width: 900px) {
    .section h4 {
        font-size: 16px; /* Example adjustment for tablet screens */
    }
    .platform-slot-container{
        width: max-content
    }
}


/* Laptop and desktop screens */
@media (min-width: 901px) {
    .nav-header{
        width: 100%;
        max-width: 1750px;
        margin: 0px auto;
    }
    .hamburger{
        visibility: hidden;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .section-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-header .visit-page span{
        display: block;
        width: 140px;
        font-size: 14px;
    }
    .bottom-content-item{
        display: none;
    }
    .line,.tab-item-end, .carousel-container{
        display: none;
    }
    .hide {
        display: block; 
    }
    .divider{
        width: 100%;
    }
    .content-main-wrapper{
        display: flex;
        gap: 20px;
        width:100%;
    }
    .left-content-wrapper{
        display: flex;
        gap: 10px;
    }
    .content-container-lg{
        display: block !important;
    }
    .left-navbar-container,.search-box-container{
        display: block;
    }
    
    .container{
      max-width: fit-content;
      display: flex;
      gap: 20px;
      overflow: hidden;
    }
    .tabs {
        width: 100%;
        display: flex;
       
      }
      .tab-container{
    margin-left: 0px;
      }
      .lg-hide{
        display: none;
      }
      .tab-ad-text{
        color: #7F7F7F;
        font-weight: bold;
      }
      .tab-ad-lg{
        padding: 0px 5px;
       font-weight: bold;
    
      }
      .content-img {
        width: 100%;
        height: 580px;
        object-fit: contain;
        border-radius: 5px;
    }
    .content-img {
        width: 100%;
        height: 500px;
        object-fit: contain;
        border-radius: 5px;
    }
   
}
